<div class="row row-margin">
    <h3 class="header-for">Search Filter</h3>
    <div class="row col-md-12">
        <div class="form-group col-md-4 float-right">
            <label for="email">Skillsets:</label>
            <input type="text" class="form-control" id="skillset" placeholder="Enter required skills sets" (ngModelChange)="change()"
                name="skillset" [(ngModel)]="skills"> </div>
        <div class="form-group col-md-4 float-right">
            <label for="pwd">Source:</label>
            <input type="text" class="form-control" id="source" placeholder="select source" name="source" (ngModelChange)="change()"
                [(ngModel)]="src"> </div>
        <div class="form-group col-md-4">
            <label for="pwd">City:</label>
            <input type="text" class="form-control" id="city" placeholder="Select city" name="city" (ngModelChange)="change()" [(ngModel)]="city"> </div>
    </div>
</div>
<div class="row row-margin col-md-12" *ngIf="rows.length == 0">
    <strong class="red-text">No records found.</strong>
</div>
<div class="row row-margin col-md-12 tableBodyScroll" *ngIf="rows.length >0">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="col-xs-2">Id</th>
                <th class="col-xs-2">User</th>
                <th class="col-xs-2">Skills</th>
                <th class="col-xs-2">City</th>
                <th class="col-xs-2">Source</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of rows">
                <td class="col-xs-2">{{row.id}}</td>
                <td class="col-xs-2">{{ row.name }}</td>
                <td class="col-xs-2">{{ row.skills}}</td>
                <td class="col-xs-2">{{ row.city }}</td>
                <td class="col-xs-2">{{ row.source }}</td>
            </tr>
        </tbody>
    </table>
</div>